$colorSelector: rgb(187, 180, 154);

html {
    font-family: 'Inter';
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}



.header {
    background: rgb(187, 180, 154);
    padding-top: 10rem;
    display: flex;
    align-items: end;
    flex-direction: column;

    // @media (max-width: 767px) {
    //     // font-size: 3rem;
    //     // padding-top: 2rem;
    // }

    &_title {
        font-size: 5rem;

        // @media (max-width:767px) {
        //     font-size: 3rem;
        // }
    }

    &_profession {
        font-size: 4rem;

        // @media (max-width:767px) {
        //     font-size: 3rem;
        // }
    }

    &_experience {
        font-size: 2.5rem;
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;

    // @media (max-width:767px) {
    //     grid-template-columns: none
    // }

    &_container {
        margin-top: -100px;
        border: 5px solid rgb(101, 90, 61);
        max-width: 400px;
        padding: 2rem;

        // @media (max-width:676px) {
        //     border: 0;
        //     margin-top: 0;
        // }

        &_contact {
            // @media (max-width:767px) {
            //     display: flex;
            //     gap: 0.5rem;
            // }

            &_img {
                width: 400px;

                // @media (max-width:676px) {
                //     width: 150px;
                // }
            }

            &_info {
                &_aboutMe {
                    font-size: 2.5rem;
                    padding-top: 10px;
                    list-style-type: none;

                    // @media (max-width:676px) {
                    //     font-size: 2rem;

                    // }
                }
            }
        }

        &_skills {
            margin-top: 30px;
            font-size: 2.5rem;
            list-style-position: inside;

            &_hard {
                padding-top: 20px;
                line-height: 1.5em;
            }
        }
    }

    &_contant {
        padding: 2rem;

        &_about_me {
            &_text {
                font-size: 2.4rem;
                text-align: justify;
            }
        }

        &_experience {
            margin-top: 4rem;
        }

        &_education {
            margin-bottom: 4rem;
            margin-top: 4rem;
        }

        &_years {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2.4rem;
        }

        &_profession {
            font-size: 2.8rem;
        }

        &_company {
            font-size: 2.6rem;
            font-weight: 500;
        }

        &_box {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
        }

        &_prof {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &_univesity {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
        }
    }
}

.list {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    text-align: justify;
}

.title_skills {
    position: absolute;
    z-index: 2;
}

.background_title {
    background: $colorSelector;
    width: 20rem;
    height: 4rem;
    border: 1px solid $colorSelector;
    position: relative;
    z-index: 1;
    margin-left: 5rem;
}

.view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
}

.line {
    border: 1px solid $colorSelector;
    width: 0.2rem;
    background: $colorSelector;
}

@media(max-width:767px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .header {
        align-items: center;
        font-size: 3rem;
        padding-top: 2rem;

        &_title {
            font-size: 3rem;
        }

        &_profession {
            font-size: 3rem;
        }
    }

    .main {
        grid-template-columns: none;

        &_container {
            border: 0;
            margin-top: 0;

            &_contact {
                display: flex;
                gap: 0.5rem;

                &_img {
                    width: 150px;
                }

                &_info {
                    &_aboutMe {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}